<footer>
  <div class="row">
    <div class="col">
      <div class="img-footer">
        <a href="#" id="logo"><img src="https://i.imgur.com/HNJ69VP.png" alt=""></a>
      </div>
    </div>

    <div class="col">
      <h3>Tecnologias Usadas<div class="underline"><span></span></div></h3>
      <ul>
        <li><a href="https://docs.oracle.com/en/java/" target="_black">Java</a></li>
        <li><a href="https://spring.io/" target="_black">Spring Boot</a></li>
        <li><a href="https://dev.mysql.com/doc/" target="_black">MySql</a></li>
        <li><a href="https://angular.io/docs" target="_black">Angular</a></li>
        <li><a href="https://www.typescriptlang.org/docs/" target="_black">TypeScript</a></li>
        <li><a href="https://www.w3schools.com/" target="_black">HTML5 e CSS3</a></li>
      </ul>
    </div>

    <div class="col">
      <h3>Organização do projeto<div class="underline"><span></span></div></h3>
      <ul>
        <li><a href="https://trello.com/b/LXK4ur4C/olga" target="_black">Trello</a></li>
        <li><a href="#">Metodologia agil</a></li>
        <li><a href="https://github.com/karolrobertax3/Olga_front-end" target="_black">Versionamento dos códigos</a></li>
      </ul>
    </div>

    <div class="col">
      <h3>Escreva-nos uma e-mail<div class="underline"><span></span></div></h3>
      <form>
        <i class="fas fa-envelope"></i>
        <input type="email" name="" id="" placeholder="Deixe aqui o email para entrarmos em contato">
        <button><i class="fas fa-arrow-right"></i></button>
      </form>

      <div class="rede-sociais">
        <a href="" target="_black"><i class='bx bxl-facebook-circle'></i></a>
        <a href=""><i class='bx bxl-github'></i></a>
        <a href=""><i class='bx bxl-instagram-alt'></i></a>
        <a href=""><i class='bx bxl-google-plus-circle'></i></a>
      </div>
    </div>
  </div>

  <hr>
  <p>Olga, o elo entre a horta e a sua mesa | © 2021 Todos os direitos reservados.</p>
</footer>
